SET QUOTED_IDENTIFIER ON;
SET ANSI_NULLS ON;
SET NOCOUNT ON;
GO
-- CountriesLookup (82 rows)
IF NOT EXISTS (SELECT 1 FROM [CountriesLookup]) BEGIN
  SET IDENTITY_INSERT [CountriesLookup] ON;
  SET IDENTITY_INSERT [CountriesLookup] OFF;
END
GO
-- CompanyTypes (3 rows)
IF NOT EXISTS (SELECT 1 FROM [CompanyTypes]) BEGIN
  SET IDENTITY_INSERT [CompanyTypes] ON;
  INSERT INTO [CompanyTypes] ([Id], [NameAr], [NameEn]) VALUES
  (1, N'شركة مساهمة', N'Public Company'),
  (2, N'شركة ذات مسؤولية محدودة', N'Limited Liability Company'),
  (3, N'مؤسسة فردية', N'Sole Proprietorship');
  SET IDENTITY_INSERT [CompanyTypes] OFF;
END
GO
-- Currencies (5 rows)
IF NOT EXISTS (SELECT 1 FROM [Currencies]) BEGIN
  SET IDENTITY_INSERT [Currencies] ON;
  INSERT INTO [Currencies] ([ID], [Code], [Symbol], [Name], [NameEn], [DecimalPlaces]) VALUES
  (1, N'EGP', N'ج.م', N'جنيه مصري', N'Egyptian Pound', 2),
  (2, N'USD', N'$', N'دولار أمريكي', N'US Dollar', 2),
  (3, N'EUR', N'€', N'يورو', N'Euro', 2),
  (4, N'SAR', N'ر.س', N'ريال سعودي', N'Saudi Riyal', 2),
  (5, N'KWD', N'د.ك', N'دينار كويتي', N'Kuwaiti Dinar', 3);
  SET IDENTITY_INSERT [Currencies] OFF;
END
GO
-- ExchangeRates (13 rows)
IF NOT EXISTS (SELECT 1 FROM [ExchangeRates]) BEGIN
  SET IDENTITY_INSERT [ExchangeRates] ON;
  SET IDENTITY_INSERT [ExchangeRates] OFF;
END
GO
-- AccountTypes (5 rows)
IF NOT EXISTS (SELECT 1 FROM [AccountTypes]) BEGIN
  SET IDENTITY_INSERT [AccountTypes] ON;
  INSERT INTO [AccountTypes] ([ID], [Code], [Name], [NameEn], [NormalBalance], [StatementType]) VALUES
  (1, N'ASSET', N'الأصول', N'Assets', N'D', N'BalanceSheet'),
  (2, N'LIAB', N'الالتزامات', N'Liabilities', N'C', N'BalanceSheet'),
  (3, N'EQUITY', N'حقوق الملكية', N'Equity', N'C', N'BalanceSheet'),
  (4, N'REV', N'الإيرادات', N'Revenue', N'C', N'IncomeStatement'),
  (5, N'EXP', N'المصروفات', N'Expenses', N'D', N'IncomeStatement');
  SET IDENTITY_INSERT [AccountTypes] OFF;
END
GO
-- Accounts (46 rows)
IF NOT EXISTS (SELECT 1 FROM [Accounts]) BEGIN
  SET IDENTITY_INSERT [Accounts] ON;
  SET IDENTITY_INSERT [Accounts] OFF;
END
GO
-- CostCenters (2 rows)
IF NOT EXISTS (SELECT 1 FROM [CostCenters]) BEGIN
  SET IDENTITY_INSERT [CostCenters] ON;
  INSERT INTO [CostCenters] ([ID], [CompanyID], [Code], [Name], [NameEn], [ParentId], [SourceHierarchicalId], [IsActive], [CreatedAt]) VALUES
  (1, 1, N'CC001', N'ادارة الشركة', N'm', NULL, 43, 1, N'2026-06-24 08:27:26.612'),
  (2, 1, N'CC002', N'الادارة المالية', N'f', NULL, 44, 1, N'2026-06-24 08:27:26.631');
  SET IDENTITY_INSERT [CostCenters] OFF;
END
GO
-- PostingRules (5 rows)
IF NOT EXISTS (SELECT 1 FROM [PostingRules]) BEGIN
  SET IDENTITY_INSERT [PostingRules] ON;
  SET IDENTITY_INSERT [PostingRules] OFF;
END
GO
-- FiscalYears (1 rows)
IF NOT EXISTS (SELECT 1 FROM [FiscalYears]) BEGIN
  SET IDENTITY_INSERT [FiscalYears] ON;
  INSERT INTO [FiscalYears] ([ID], [CompanyID], [Name], [StartDate], [EndDate], [Status]) VALUES
  (1, 1, N'2026', N'2026-01-01 00:00:00.000', N'2026-12-31 00:00:00.000', N'Open');
  SET IDENTITY_INSERT [FiscalYears] OFF;
END
GO
-- FiscalPeriods (13 rows)
IF NOT EXISTS (SELECT 1 FROM [FiscalPeriods]) BEGIN
  SET IDENTITY_INSERT [FiscalPeriods] ON;
  SET IDENTITY_INSERT [FiscalPeriods] OFF;
END
GO
-- NumberSequences (1 rows)
IF NOT EXISTS (SELECT 1 FROM [NumberSequences]) BEGIN
  SET IDENTITY_INSERT [NumberSequences] ON;
  INSERT INTO [NumberSequences] ([ID], [CompanyID], [SequenceKey], [FiscalYearId], [Prefix], [NextNumber], [PadLength]) VALUES
  (1, 1, N'JV', 1, N'JV', 223, 6);
  SET IDENTITY_INSERT [NumberSequences] OFF;
END
GO
-- UnitsOfMeasure (4 rows)
IF NOT EXISTS (SELECT 1 FROM [UnitsOfMeasure]) BEGIN
  SET IDENTITY_INSERT [UnitsOfMeasure] ON;
  INSERT INTO [UnitsOfMeasure] ([ID], [CompanyID], [Code], [Name], [NameEn], [IsActive], [CreatedAt]) VALUES
  (1, 1, N'PCS', N'قطعة', N'Piece', 1, N'2026-06-25 05:37:10.047'),
  (2, 1, N'CTN', N'كرتونة', N'Carton', 1, N'2026-06-25 05:37:10.167'),
  (3, 1, N'KG', N'كيلوجرام', N'Kilogram', 1, N'2026-06-25 05:37:10.173'),
  (4, 1, N'DZN', N'درزن', N'Dozen', 1, N'2026-06-25 10:21:31.293');
  SET IDENTITY_INSERT [UnitsOfMeasure] OFF;
END
GO
-- UoMConversions (4 rows)
IF NOT EXISTS (SELECT 1 FROM [UoMConversions]) BEGIN
  SET IDENTITY_INSERT [UoMConversions] ON;
  INSERT INTO [UoMConversions] ([ID], [ItemId], [FromUoMId], [ToUoMId], [Factor]) VALUES
  (9, 2, 4, 1, 12.000000),
  (10, 2, 2, 1, 144.000000),
  (11, 3, 4, 1, 12.000000),
  (12, 3, 2, 1, 144.000000);
  SET IDENTITY_INSERT [UoMConversions] OFF;
END
GO
-- TaxCodes (6 rows)
IF NOT EXISTS (SELECT 1 FROM [TaxCodes]) BEGIN
  SET IDENTITY_INSERT [TaxCodes] ON;
  SET IDENTITY_INSERT [TaxCodes] OFF;
END
GO
-- PayrollTaxBrackets (7 rows)
IF NOT EXISTS (SELECT 1 FROM [PayrollTaxBrackets]) BEGIN
  SET IDENTITY_INSERT [PayrollTaxBrackets] ON;
  SET IDENTITY_INSERT [PayrollTaxBrackets] OFF;
END
GO
-- LeaveTypes (4 rows)
IF NOT EXISTS (SELECT 1 FROM [LeaveTypes]) BEGIN
  SET IDENTITY_INSERT [LeaveTypes] ON;
  INSERT INTO [LeaveTypes] ([ID], [NameAr], [NameEn], [CreatedBy], [CreatedAt], [updatedBy], [UpdatedAt], [Notes], [IsEncashable]) VALUES
  (15, N'اجازة سنوية', N'annual leave', NULL, NULL, NULL, NULL, N'إجازة مرة بالعام ', 1),
  (16, N'اجازة وضع ', N'Maternity leave', NULL, NULL, NULL, NULL, N'notes', 1),
  (17, N'إجازة  سنوية', N'sick leave', NULL, NULL, NULL, NULL, N'notes', 0),
  (18, N'اجازة مرضية', N'Medical Leave', NULL, NULL, NULL, NULL, N'notes', 1);
  SET IDENTITY_INSERT [LeaveTypes] OFF;
END
GO
-- JobTitles (5 rows)
IF NOT EXISTS (SELECT 1 FROM [JobTitles]) BEGIN
  SET IDENTITY_INSERT [JobTitles] ON;
  INSERT INTO [JobTitles] ([ID], [Title], [TitleAr], [Description]) VALUES
  (2, N'Manager', N'مدير ', N'notes'),
  (3, N'CEO', N'مدير تنفيذي', N'notes'),
  (4, N'Accountant', N'محاسب', N'محاسب'),
  (5, N'Developer', N'مطور برمجيات', N'مطور'),
  (6, N'Department Head', N'رئيس قسم', N'-');
  SET IDENTITY_INSERT [JobTitles] OFF;
END
GO
-- AssetCategories (2 rows)
IF NOT EXISTS (SELECT 1 FROM [AssetCategories]) BEGIN
  SET IDENTITY_INSERT [AssetCategories] ON;
  INSERT INTO [AssetCategories] ([ID], [CompanyID], [Name], [NameEn], [DefaultUsefulLifeMonths], [DepreciationMethod], [CostAccountId], [AccumDepAccountId], [DepExpenseAccountId], [IsActive], [CreatedAt]) VALUES
  (1, 1, N'أجهزة حاسب', N'Computers', 36, N'StraightLine', 9, 10, 30, 1, N'2026-06-24 10:43:48.729'),
  (2, 1, N'أثاث ومفروشات', N'Furniture', 60, N'StraightLine', 9, 10, 30, 1, N'2026-06-24 10:43:48.815');
  SET IDENTITY_INSERT [AssetCategories] OFF;
END
GO
-- ItemCategories (3 rows)
IF NOT EXISTS (SELECT 1 FROM [ItemCategories]) BEGIN
  SET IDENTITY_INSERT [ItemCategories] ON;
  SET IDENTITY_INSERT [ItemCategories] OFF;
END
GO
-- HierarchicalTypes (5 rows)
IF NOT EXISTS (SELECT 1 FROM [HierarchicalTypes]) BEGIN
  SET IDENTITY_INSERT [HierarchicalTypes] ON;
  INSERT INTO [HierarchicalTypes] ([ID], [TypeNameAr], [TypeNameEn]) VALUES
  (1, N'شركة', N'Company'),
  (2, N'فرع', N'Branch'),
  (3, N'جهة ادارية', N'Admininstrative body'),
  (4, N'منصب', N'Position'),
  (5, N'موظف', N'Employee');
  SET IDENTITY_INSERT [HierarchicalTypes] OFF;
END
GO
-- SystemForms (2 rows)
IF NOT EXISTS (SELECT 1 FROM [SystemForms]) BEGIN
  SET IDENTITY_INSERT [SystemForms] ON;
  INSERT INTO [SystemForms] ([Id], [NameAr], [NameEn], [CreatedBy], [CreatedAt], [updatedBy], [UpdatedAt]) VALUES
  (2, N'الشركات', N'Companies', NULL, NULL, NULL, NULL),
  (3, N'الافرع', N'Branches', NULL, NULL, NULL, NULL);
  SET IDENTITY_INSERT [SystemForms] OFF;
END
GO
-- Policies (4 rows)
IF NOT EXISTS (SELECT 1 FROM [Policies]) BEGIN
  SET IDENTITY_INSERT [Policies] ON;
  INSERT INTO [Policies] ([ID], [NameAr], [NameEn], [CreatedBy], [CreatedAt], [updatedBy], [UpdatedAt], [Notes], [ApprovalLevels]) VALUES
  (8, N'اللائحة الرئيسية', N'main policy', NULL, NULL, NULL, NULL, N'notes', 2),
  (9, N'اللائحة الثانية', N'second', NULL, NULL, NULL, NULL, N'notes', 2),
  (10, N'الائحة  الرئيسية', N'main license', NULL, NULL, NULL, NULL, N'f', 2),
  (13, N'تجريبي فقط', N'test', NULL, NULL, NULL, NULL, N'notes', 2);
  SET IDENTITY_INSERT [Policies] OFF;
END
GO
-- CrmPipelines (1 rows)
IF NOT EXISTS (SELECT 1 FROM [CrmPipelines]) BEGIN
  SET IDENTITY_INSERT [CrmPipelines] ON;
  INSERT INTO [CrmPipelines] ([ID], [CompanyID], [Name], [NameEn], [IsDefault], [IsActive], [CreatedAt]) VALUES
  (1, 1, N'خط البيع الافتراضي', N'Default Sales', 1, 1, N'2026-06-29 11:04:54.091');
  SET IDENTITY_INSERT [CrmPipelines] OFF;
END
GO
-- CrmPipelineStages (6 rows)
IF NOT EXISTS (SELECT 1 FROM [CrmPipelineStages]) BEGIN
  SET IDENTITY_INSERT [CrmPipelineStages] ON;
  SET IDENTITY_INSERT [CrmPipelineStages] OFF;
END
GO
-- AccountingSettings (1 rows)
IF NOT EXISTS (SELECT 1 FROM [AccountingSettings]) BEGIN
  INSERT INTO [AccountingSettings] ([CompanyID], [ApprovalThreshold], [CreatedAt]) VALUES
  (1, 0.0000, N'2026-06-28 05:13:40.953');
END
GO
-- InventorySettings (1 rows)
IF NOT EXISTS (SELECT 1 FROM [InventorySettings]) BEGIN
  SET IDENTITY_INSERT [InventorySettings] ON;
  INSERT INTO [InventorySettings] ([ID], [CompanyID], [InterBranchTransferMode], [ApprovalThreshold], [CreatedAt], [WriteOffMode], [ConvertBasePriceForForeignDocs]) VALUES
  (1, 1, N'CostCenterPosting', 100.0000, N'2026-06-25 14:52:31.820', N'AdjustmentReason', 1);
  SET IDENTITY_INSERT [InventorySettings] OFF;
END
GO
-- PayrollSettings (1 rows)
IF NOT EXISTS (SELECT 1 FROM [PayrollSettings]) BEGIN
  INSERT INTO [PayrollSettings] ([CompanyID], [PersonalExemptionAnnual], [TaxBaseExcludesEmployeeSI], [SiMinMonthly], [SiMaxMonthly], [CreatedAt], [GratuityDaysPerYear]) VALUES
  (1, 20000.0000, 1, 2000.0000, 12600.0000, N'2026-06-28 05:22:08.605', 21.0000);
END
GO
-- EtaSettings (1 rows)
IF NOT EXISTS (SELECT 1 FROM [EtaSettings]) BEGIN
  SET IDENTITY_INSERT [EtaSettings] ON;
  INSERT INTO [EtaSettings] ([ID], [CompanyID], [Enabled], [Environment], [ClientId], [TaxpayerRin], [ActivityCode], [UpdatedAt]) VALUES
  (1, 1, 0, N'Preprod', NULL, NULL, NULL, N'2026-06-24 10:53:57.158');
  SET IDENTITY_INSERT [EtaSettings] OFF;
END
GO
-- Companies (1 rows)
IF NOT EXISTS (SELECT 1 FROM [Companies]) BEGIN
  SET IDENTITY_INSERT [Companies] ON;
  INSERT INTO [Companies] ([CompanyID], [CompanyName], [ComoanyNameAr], [Address], [PhoneNumber], [Email], [PostalCode], [Website], [CountryID], [CompanyImage], [CompanyTypeId], [RegistrationNumber], [TaxNumber], [Description], [ParentCompany], [CreatedBy], [CreatedAt], [updatedBy], [UpdatedAt], [DefaultCurrencyId]) VALUES
  (1, N'Company 1 ', N'شركة 1', N'الكويت', N'25522', N'a.d@g.com', NULL, NULL, 32, N'Files\1\2faf549e-d150-494d-946f-b8bcf4b8a4ad.png', 1, NULL, NULL, NULL, NULL, NULL, NULL, 5, N'2025-04-08 04:56:27.577', 1);
  SET IDENTITY_INSERT [Companies] OFF;
END
GO
-- Branches (0 rows)
-- (no config rows; left empty intentionally)
GO
-- AspNetUsers (1 rows)
IF NOT EXISTS (SELECT 1 FROM [AspNetUsers]) BEGIN
  INSERT INTO [AspNetUsers] ([Id], [IsEndUser], [IsActive], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES
  (N'6F7C3101-3909-40F0-9F0C-5BBBF8E37D99', 1, 1, N'Admin', N'ADMIN', N'admin@example.com', N'ADMIN@EXAMPLE.COM', 1, N'AQAAAAIAAYagAAAAEHptKg0NQ2whrgd9aJ3KC33iBILpFHeBwnU81LemD7fz8q0CIRMoc8gnWNxT458U0g==', N'MU7KJOZO43FDSJV76PDIHJV2I44TYLL4', N'5cd40bf4-5e1e-49c5-9767-38d9fdc6c511', NULL, 0, 0, NULL, 1, 0);
END
GO
-- Employee (1 rows)
IF NOT EXISTS (SELECT 1 FROM [Employee]) BEGIN
  SET IDENTITY_INSERT [Employee] ON;
  SET IDENTITY_INSERT [Employee] OFF;
END
GO
